@import url('https://fonts.googleapis.com/css2?family=Lustria&family=Teko&family=Yeon+Sung&display=swap');

*{
   margin:0;
   padding: 0;
   border:none;
   text-decoration: none;
 }


   /*Korean font*/
.lang-ko{
    font-family: 'Yeon Sung', cursive;
 }
 /* Cold Font*/
 .cold{
   color: #374394;
}
 /* Hot Font*/
 .hot{
   color: #8B2525;
}
/*Background + general style */
body{
   background-color: #5A5A5A;
   background-image: linear-gradient(180deg, #37439476,#d8d8d8);
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-family: "Lustria", serif;
}

 /* header styling*/
h1, h2,.in-card-button{
   font-family: 'Teko', sans-serif;
   text-transform: uppercase;
   color:#5A5A5A;
} 
header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
 /* Card styling */

#logo{
      background:url(../images/NMMDLogo.jpg) no-repeat center/100%;
      width: 100px;
      height: 80px;
      margin-left: 5px;
    }
/* Menu styling */
#menu {
   font-size: 110%;
   letter-spacing: 4px;
   line-height:80px;
   display:flex;
   flex-direction: row;
   justify-content: end;
   margin-right: 5px;
}
#menu a{
   color:inherit;
}

#menu li{
   list-style-type: none;
   margin-left: 10px;
}

#menu a:hover, .active{
   border-bottom: 1px solid #5A5A5A;
}
.card-stack{
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   flex-wrap: wrap;
   flex-direction: column;
 }
.main-card, .card, footer{
   background-color: #FFFEF8;
   color: #5A5A5A;
   width:100%;
   margin-top:10px;
   max-width: 1100px;
   box-sizing: border-box;
}
.main-card, .card, footer{
   border-radius: 10px;
}
.main-card{
   line-height: 0%;
}
.card{
   padding: 10px;
}
.double-card{
   display: flex;
   flex-direction: row;  
}
.half-card{
   width:50%;
   max-width: 550px;
}
.divider{
      border-left: 1px solid #d8d8d8;
      height: 100px;
      align-self: center;
}
/*Half card right styling*/
#order-eatin-in-text{
   width: 121px;
}
/*hero image*/
#hero{
   max-width: 100%;
   height: auto;
   width: auto;
   filter: grayscale(100%);
   border-radius: 0 0 10px 10px;
}
/*button styling*/
.button{
   border: 1px solid;
   border-radius: 5px;
   padding: 10px 25px;
}
.button-container{
   text-align: center;
   margin: 15px 0 5px 0;
}
.button-red{
   color: #8B2525;
   border-color: #8B2525;
}
.button-blue{
   color: #374394;
   border-color: #374394;
}

/*Footer style*/
footer{
   border-radius: 10px 10px 0 0;
}

