@import url('https://fonts.googleapis.com/css2?family=Lustria&family=Teko&family=Yeon+Sung&display=swap');

*{
   margin:0;
   padding: 0;
   border:none;
   text-decoration: none;
 }


   /*Korean font*/
.lang-ko{
    font-family: 'Yeon Sung', cursive;
 }
 /* Cold Font*/
 .cold{
   color: #0047A0;
}
 /* Hot Font*/
 .hot{
   color: 	#CD2E3A;
}
/*Background + general style */
body{
   background-color: #5A5A5A;
   background-image: url(../images/background.jpg) ;
   background-size: 100%;
   display: flex;
   font-family: "Lustria", serif;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
}

 /* header styling*/
h1, h2,h3,.free-button{
   font-family: 'Teko', sans-serif;
   text-transform: uppercase;
   color:#5A5A5A;
} 
header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
#logo{
      background:url(../images/NMMDLogo.jpg) no-repeat center/100%;
      width: 100px;
      height: 80px;
      margin-left: 5px;
    }
/* Nav styling */
#nav {
   font-family: 'Teko', sans-serif;
   font-size: 130%;
   letter-spacing: 4px;
   line-height:80px;
   display:flex;
   flex-direction: row;
   justify-content: end;
   margin-right: 5px;
}
#nav a{
   color:inherit;
}
#nav li{
   list-style-type: none;
   margin-left: 10px;
}
/* Hover  menu*/
#nav a:hover, .active{
   border-bottom: 3px solid;
   border-image: linear-gradient(to right, #CD2E3A, #0047A0) 1;
}

 /*Styling for all cards*/
.card-stack{
   width:101%;
   max-width: 1110px;
   display: flex;
   justify-content: center;
   align-items: stretch;
   align-content: center;
   flex-wrap: wrap;
   flex-direction: row;
 }
 .main-card, .card{
   border-radius: 10px;
   box-sizing: border-box;
}
.main-card, .card{
   background-color: #FFFFFF;
   color: #5A5A5A;
}
.main-card{
   width:100%;
   max-width: 1100px;
   line-height: 0%;
   margin-top: 10px;
   margin-bottom:5px;
}
.card{
   margin: 5px;
   width: 55%;
   max-width: 545px;
}
.card, footer{
   padding: 10px;
}
.multi-card{
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
}
.tri-card{
   width:33%;
   max-width: 550px;
   min-width: 141px;
} 
.hidden-card{
   background:transparent;
}
.divider{
      border-left: 1px solid #d8d8d8;
      height: 100px;
      padding : 0px 1px;
      align-self: center;
}
/*hero image*/
#hero{
   max-width: 100%;
   width: 1100px;
   height: 300px;
   object-fit: cover;
   object-position: center;
   border-radius: 0 0 10px 10px;
}
/*button styling & effects*/

.button{
   border: 1px solid;
   border-radius: 30px;
   padding: 10px 25px;
   transition: 0.3s;
}
.button-container{
   text-align: center;
   margin: 15px 0 5px 0;
}
.col-red{
   color: #CD2E3A;
   border-color: #CD2E3A;
}
.col-blue{
   color: #374394;
   border-color: #374394;
}
#big-button{
   font-family: 'Teko', sans-serif;
   text-decoration: none;
   text-align: center;
   background-color: #cd2e3b5f;
   padding: 10px;
   border-radius: 10px;
   transition: 0.3s;
}
a.tri-card{
   color: #FFFEF8;
}

.btn-shrink:hover, .btn-shrink:focus{
   padding: 5px 15px;
}

#big-button:hover, #big-button:focus{
   padding: 20px;
   background-color: #CD2E3A;

}

/*Footer style*/
footer{
   width:100%;
   max-width: 1100px;
   border-radius: 10px 10px 0 0;
   margin-top:10px;
   font-size: x-small;
   background-color:#000000c8;
   color: #FFFEF8;
   box-sizing: border-box;
   margin-top: auto;
  
}
footer a{
   color:inherit;
}
footer h2{
   color: #FFFEF8;
  
}
.horizontal-border-gradient{
   width: 15px;
   border-bottom: 3px solid;
   border-image: linear-gradient(45deg, #CD2E3A, #0047A0) 1;
   display: inline-block;
}

#footer-top{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   text-align: center;
   word-spacing: 3px;
   line-height: 15px;
}
   #footer-contact-div{
      display: flex;
      flex-direction: row;
   }
.footer-contrast{
   color:#CCAA00;
}

#footer-bottom{
   font-size: large;
   display: flex;
   justify-content: center; 
}
#footer-bottom > a{
    padding: 0px 20px;
}



/*underlines*/
.under-blue{
   border-bottom: #0047A0 3px solid;
}
.under-red{
   border-bottom: #CD2E3A 3px solid;
}

/*Menu style*/

.menu{
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;

}

.menu-item{
width: 50%;
min-width: 210px;
display:flex;
flex-direction: column;
}
.price{
   font-family: 'Teko', sans-serif;
   font-size: larger;
   text-align: center;
}
 /*Menu item img style*/
 .menu-item img{
   width: 100%;
   height: auto;
}
/*full width card*/
.full-width{
   width: 100%;
   max-width: 1100px;
}

.menu-item .dumplings{
   max-width: 100%;
   height: 150px;
   object-fit: cover;
   object-position: center;
}
iframe{
   width: 100%;
   height: 400px;
   border-radius: 0px 0px 10px 10px;
}

/*Find us styling*/
#partners, .partners-grouping{
   display:flex;
   align-items: center;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

/*Form Styling*/
#xsmall{
   font-size: x-small;
   font-style: italic;
}

form{
   width: 50%;
   min-width: 200px;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-content: center;
}
form > input{
   padding: 10px;
   margin: 5px;
   border: #5A5A5A 1px solid;
   border-radius: 10px;
}
form > .button{
   border-radius: 10px;
   background-color: #5A5A5A;
   border: none;
   color: #FFFEF8;
}

form > .button:hover, form > .button:focus{
   background-color: #0047A0;
}
form > .button.button:active{
   background-color: #CD2E3A;
}
#signup-img{
   background-image:url(../images/signupimg.jpg);
   background-size: 300px;
   background-position: center;
   width: 50%;
   height: 400px;
   background-repeat: no-repeat;
   border-radius: 0 0 10px 10px;
}

#inner-content{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.card  #newsletter {
   color: #5A5A5A;
}

/*Screen size responsiveness*/
@media (max-width:1110px){
   .card-stack{
      flex-direction: column;
   }
   .card{
      width:100%;
      max-width:1100px
   }
   .tri-card{
      width: 30%;
   }
  .multi-card{
   flex-wrap: wrap;
   justify-content: center;
  }

}
@media (max-width:790px){
   .vertical-button{
      flex-direction: row;
      min-width: 272px;
   }
   .divider{
      border:none;
   }
}

@media (max-width: 460px){
   .menu-item .dumplings{
      border-radius: 10px;
      margin-top: 5px;
   }
   form, #signup-img{
      width: 100%;
   }
   
   #footer-contact-div{
      flex-direction: column;
   }
   
      
}  